# Ignore virtual environment
venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and debug files
logs/
*.log

# Ignore Streamlit cache
.streamlit/

# Ignore environment config
.env
config/settings.yaml

# Ignore dataset and temp files
data/
*.csv
*.json
*.db
*.sqlite
*.pkl

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS system files
.DS_Store

# Ignore VS Code settings (optional)
.vscode/
